    /* Local */

    /* Button Styles */
    button:hover {
        background: white; 
        border-color: navy;
    }
    button {
        background: darkgray; 
        font-family: "Arial"; 
        border-radius: 0px; 
        border-color: gray;
    }
    /* Text Styles */
    h1 {
        color:white; 
        font:bold; 
    }
    h2 {
        color:white; 
        font:bold; 
    }
    body { 
        font-family: "Arial"; 
        color:white; 
        background:black;
    }
    img { 
        border-radius: 0px;
    }