    /* Local */
    .image-container {
        width: 30%;
    }
    .image-container img {
        max-width: 100%;
        height: auto;
    }
    /* Button Styles */
    button:hover {
        background: blue; 
        border-color: navy;
    }
    button {
        background: red; 
        font-family: "Comic Sans MS"; 
        border-radius: 10px; 
        border-color: brown;
    }
    /* Text Styles */
    h1 {
        color:darkred; 
        font:bold; 
    }
    h2 {
        color:darkred; 
        font:bold; 
    }
    body { 
        font-family: "Comic Sans MS"; 
        color:red; 
        background:yellow;
    }
    img { 
        border-radius: 3px;
    }